* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.barra-busca {
    height: 50px;
    padding: 80px;
}

.barra-pesquisa {
    height: 50px;
    width: 80%;
    font-size: 1.2rem;
}

.button-buscar {
    width: 19%;
    height: 50px;
    font-size: 1.2rem;
}

.imagens {
    display: columns;
    columns: 4;
}

.imagens img {
    width: 100%;
}